#!/usr/bin/make -f

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir

	touch configure.ac
	touch aclocal.m4
	touch configure
	touch config.h.in
	touch `find . -name Makefile.in`

	./configure --prefix=/usr --mandir=/usr/share/man

	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) -i distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/elk

	mv $(CURDIR)/debian/elk/usr/lib/*.so.* \
	   $(CURDIR)/debian/libelk0/usr/lib/

	mv $(CURDIR)/debian/elk/usr/include/elk/* \
	   $(CURDIR)/debian/libelk0-dev/usr/include/elk/
	mv $(CURDIR)/debian/elk/usr/lib/*.so \
	   $(CURDIR)/debian/elk/usr/lib/*.la \
	   $(CURDIR)/debian/elk/usr/lib/*.a \
	   $(CURDIR)/debian/libelk0-dev/usr/lib/

	mv $(CURDIR)/debian/elk/usr/share/doc/elk/ps \
	   $(CURDIR)/debian/elkdoc/usr/share/doc/elkdoc/
	mv $(CURDIR)/debian/elk/usr/share/doc/elk/examples \
	   $(CURDIR)/debian/elkdoc/usr/share/doc/elkdoc/

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -i
	dh_installchangelogs -i ChangeLog
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	dh_installmenu -a
	dh_installchangelogs -a ChangeLog
	dh_strip -a
	dh_link -a usr/bin/elk usr/bin/scheme-elk
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_makeshlibs -a -X usr/lib/elk
	dh_shlibdeps -a -L libelk0 -l debian/libelk0/usr/lib
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
