#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

configure: configure-stamp
configure-stamp:
	dh_testdir

	./configure --prefix=/usr

	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp
	dh_testdir

	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	-$(MAKE) -i distclean

	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/elk

	install -m 644 debian/elk.ini $(CURDIR)/debian/elk/usr/share/elk

	mv $(CURDIR)/debian/elk/usr/lib/*.so.* \
	   $(CURDIR)/debian/libelk0/usr/lib/

	mv $(CURDIR)/debian/elk/usr/include/elk/* \
	   $(CURDIR)/debian/libelk0-dev/usr/include/elk/
	mv $(CURDIR)/debian/elk/usr/lib/*.so \
	   $(CURDIR)/debian/elk/usr/lib/*.la \
	   $(CURDIR)/debian/elk/usr/lib/*.a \
	   $(CURDIR)/debian/libelk0-dev/usr/lib/

# Build architecture-independent files here.
# Pass -i to all debhelper commands in this target to reduce clutter.
binary-indep: DH_OPTIONS=-i
binary-indep: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
	dh_installexamples examples/*
	rm -Rf `find $(CURDIR)/debian/elkdoc/ -type d -name .svn`
#	dh_installmenu
#	dh_installemacsen
#	dh_installpam
#	dh_installinit
#	dh_installcron
#	dh_installmanpages
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs NEWS
#	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
#	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
# Pass -a to all debhelper commands in this target to reduce clutter.
binary-arch: DH_OPTIONS=-a
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
#	dh_installexamples
	dh_installmenu
#	dh_installemacsen
#	dh_installpam
#	dh_installinit
#	dh_installcron
#	dh_installmanpages
	dh_installman doc/man/elk.1
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs NEWS
	dh_strip
	dh_link usr/bin/elk usr/bin/scheme-elk
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_makeshlibs
#	dh_perl
	dh_shlibdeps -L libelk0 -l debian/libelk0/usr/lib
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
